<div class="login-screen">
  <mat-card class="centralized-card">
    <mat-card-content>
      <p>Help Me To Food</p>
      <form autocomplete="off" class="form">
        <mat-form-field>
          <input type="text" placeholder="Login" name="login" [(ngModel)]="login" matInput />
        </mat-form-field>

        <mat-form-field>
          <input type="password" placeholder="Senha" name="password" [(ngModel)]="password" matInput />
        </mat-form-field>

        <button (click)="doForgotMyPassword()" mat-button class="forgot-my-password" >esqueci minha senha</button>

        <button (click)="doLogin()" mat-button color="primary" >Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
