@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: NothingYouCouldDo;
  src: url(assets/Nothing_You_Could_Do/NothingYouCouldDo.ttf);
}

html, body {
  margin: 0;
  font-family: NothingYouCouldDo !important;
}

.centralized-card {
  text-align: center;
  width: -webkit-fill-available;
  margin: auto;
}
