@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: NothingYouCouldDo;
  src: url(assets/Nothing_You_Could_Do/NothingYouCouldDo.ttf);
}

html, body {
  margin: 0;
  font-family: NothingYouCouldDo !important;
}

.loader {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  text-align: center;
  opacity: 0.2;
  background-color: black;
  z-index: 2000;
}

.loader mat-spinner {
  margin: auto;
  margin-top: 8rem;
}
