@font-face {
  font-family: NothingYouCouldDo;
  src: url(assets/Nothing_You_Could_Do/NothingYouCouldDo.ttf);
}

body {
  margin: 0;
  font-family: NothingYouCouldDo, cursive
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.form button {
  margin-top: 1rem;
}

.ui-growl-message-error .ui-growl-item {
  background-color: #cc3f3c;
}

.ui-growl-message-info .ui-growl-item {
  background-color: #3877d4;
}

.ui-growl-message-warn .ui-growl-item {
  background-color: #f5de0e;
}

.ui-growl-message-success .ui-growl-item {
  background-color: #42A948;
}
